body {
  font-family: avenir;

}
h1 {
text-align: center;
font-weight: 400;
}


ul {
  list-style-type: none;

}

li {
  display: inline-block;
  padding-right: 3vw;
  padding-left: 1vw;


}


li:hover {
  color: #bb9ffc;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
span#word {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #bb9ffc;
}
.about #portrait,
.about #me {
  display: inline;

}
#me {
  margin-top: 7vh;
  max-width: 90vh;
  float: right;
  margin-right: 20vw;
  text-align: justify;
}
#email {
  text-decoration: underline;
}

#purple {
  color: #bb9ffc;
}
#portrait {
  max-width: 50vh;
  margin-top: 7vh;
  margin-left: 9vw;

}

.images {
  margin: 20px;
  display: inline-table;
  justify-content: center;
  align-items: center;
}

.image1 {
  border: solid white 1px;
  width: 300px;
  height: 300px;
  margin: 20px;
  float: left;
  overflow: hidden;
  position: relative;

}


.image1:hover .overlay {
  opacity: .8;
  cursor: pointer;
}


.drop {
  background-color: inherit;
  color: inherit;
  font-family: avenir;
  font-size: 3.6vh;
  border: none;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,255,255, 0.9);
  min-width: 160px;
  z-index: 1;
  text-align: justify;

}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: inherit;
    color: #bb9ffc;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}



.drop2 {
  background-color: inherit;
  color: inherit;
  font-family: avenir;
  font-size: 3.6vh;
  border: none;


}


.dropdown2 {
  position: relative;
  display: inline-block;
float: left;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgb(255,255,255, 0.9);
  min-width: 160px;
  z-index: 1;
  text-align: left;

}

.dropdown-content2 a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content2 a:hover {
    background-color: inherit;
    color: #bb9ffc;
}

.dropdown2:hover .dropdown-content2 {display: block;}

.dropdown2:hover .dropbtn {background-color: #3e8e41;}



#image1 {
width: 300px;
height: auto;
display: flex;
position: absolute;
overflow: hidden;
}

#image2 {
width: 300px;
height: auto;
display: flex;
position: absolute;
overflow: hidden;

}
#image2:hover {
  opacity: 0.7;
  cursor: pointer;
}

#image3 {
width: 300px;
height: auto;
display: flex;
position: absolute;
overflow: hidden;

}
#image3:hover {
  opacity: 0.8;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}
.text {
  color: #bb9ffc;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact {
  padding-top: 15vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 3vh;
}

#link{
  color: #bb9ffc;
}

.footer {
   position: fixed;
   display: block;
   right: 0;
   bottom: 0;
   width: 140px;
   background-color: inherit;
   text-align: right;
   padding-right: 20px;

}
.menu2 {
  display: none;
}
@media only screen and (max-width: 700px) {

    nav {
      display: none;
    }
.menu2 {
  display: flow-root;
}

}
